*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    background: linear-gradient(120deg, rgba(19, 125, 151, 0.8), rgba(30, 28, 155, 0.7)),url(../images/3.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    position: relative;
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

header div p,h2{
    margin-left: 45px;

}


header #codeopen{
    font-size: 30px;
    position: absolute;
    margin-left:8px ;
    margin-top: 10px;
}

header .freeCode {
    color: #acaaaa;
}

#lapis{
    display: none;
}

header div#Caneta{
    margin-left: 10px;
}


header #follow{
    display: inline-block;
    width: 70px;
    background-color: rgb(20, 204, 20);
    color: black;
    border-radius: 5px;
}




header #follow:hover{
    background-color:green;
    color: white;
}

header a{
    color: white;
    text-decoration: none;
    text-align: center;
}

header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 444px;

}



header nav a{
    background-color: #555555;
    height: 47px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-radius: 4px;

}

header nav a:hover{
    background-color: #696969
}

header nav a#Sing-Up{
    background-color: rgb(20, 204, 20);
    color: black;
}

header nav a#Sing-Up:hover{
    background-color:green;
    color: white;

}


main{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

main #Texto-main{
    margin-top: 47px;
    line-height: 38px;
    padding-bottom: 19px;
    font-size: 18px;
    text-align: center;
    font-weight: lighter;
}

main #Texto-main p{
    font-size: 20px;
    color: #ffffffcc;

}

main section{
    background-color: rgba(0, 0, 0, 0.418);    
    width:725px;
    height: 1202px;
    line-height: 25px;
    border-radius: 5px;
}

main section div {
   margin-left:38px;
   padding-top:25px;
}

main div .caixa{
    width: 650px;
    height: 35px;
    border-radius: 10px;
}

main div textarea{
    width: 650px;
    height: 150px;
    margin-top: 10px;
    resize: vertical;
}

main div button{
    width: 650px;
    height: 50px;
    background-color: rgba(71, 241, 65, 0.712);
    color: white;
    border: none;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    header{
        width: 100%;
    }

    header #codeopen{
        margin-top: 5px;
    }


    header div{
        font-size: 13px;
    }

    header nav{
        width: 329px;
    }

    header nav a{
        height: 38px;
        padding: 0px 10px;
    }

    header #follow{
        display: none;
    }

    main section{
        width:500px;
    }

    main div .caixa{
        width: 350px;
    }

    main div textarea{
        width: 350px;
    }

    main div button{
        width: 350px;
    }   

    main section div {
        margin-left:78px;
    }

   
     
}

@media screen and (max-width: 565px) {

    header nav{
        width: 200px;
    }

    header nav  #View-Source{
        display: none;
    }
    #coracao{
        display: none;
    }

    #lapis{
        display: inline-block;
    }

    header #codeopen{
        margin-top: 5px;
    }

    main section{
       width: 450px;
    }

    main section div {
        margin-left:50px;
    }



}

@media screen and (max-width: 480px) {

    header div{
        font-size: 10px;
    }

    header #codeopen{
        margin-top: 0px;
    }

    main section{
        width:100vw;
        height: 100%;
    }

    main div .caixa{
        width: 400px;
    }

    main div textarea{
        width: 400px;
    }

    main div button{
        width: 400px;
    }

    main section div {
        margin-left:19px;
    }

    
}

@media screen and (max-width: 435px) {

    main section div{
        margin-left: 15px;
    }
    main div .caixa{
        width: 350px;
    }

    main div textarea{
        width: 350px;
    }

    main div button{
        width: 350px;
    }

}






